.entry-container {
    width: 100%;
    border-left: 5px solid $color-light;
    @include phone {
        padding-bottom: 25px;
    };

    .item-container {
        border: solid 5px $color-light;
        background-color: $color-dark;
        width: 30px;
        height: 30px;
        left: -22px;
        // top: -5px;
        position: relative;
        float: left;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        text-align: center;

        .icon {
            color: white;
            line-height: 30px;
        }
    }
}
