$color-dark: #6cbfee;
$color-light: #afdcfB;
$tablet-width: 900px;
$phone-width: 500px;
@mixin tablet {
     @media (min-width: #{$phone-width + 1px}) and (max-width: #{$tablet-width}){
        @content;
    }
}
@mixin phone {
     @media (max-width: #{$phone-width}){
        @content;
    }
}

body {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    padding-top: 60px;
}
@import "partials/containerMain";
@import "partials/entryContainer";
@import "partials/articleContainer";
